#title-download{
    text-align: center;
    font-size: 18px;
    word-break: break-all;
    font-weight: 100;
    text-transform: capitalize;
    margin-bottom: 30px;

}
.download-attachments > .download-title{
	display: none;
}
.download-attachments > ul > li{
	margin-left: 15px;
}
.download-attachments > ul > li > span{
	margin-bottom: 2px;
	font-size: 13px;
}
.download-attachments ul li .attachment-link{
	display: block;
	background-color: #11572F;
	color: #fff !important;
	width: 160px;
	text-align: center;
	padding-top: 7px;
	padding-bottom: 7px;
	margin-top: 15px;
}
.download-attachments ul li .attachment-link:hover{
	text-decoration: inherit;
}
.single_content_down{
	/*margin-left: 20px; 	*/
}
.single_content_right.document-width > p{
	border: none; 
}
.single_content_right.document-width > .download-attachments{
	margin-top: -30px;
}
.descriptions-down > .download-attachments{
	display: none;
}
.descriptions-down p{
	border: none;
	padding: 0px;
	margin-top: 0px;
	margin-left: 15px;
	font-size: 13px;
}
.descriptions-down .title-description{
	font-weight: bold;
	margin-bottom: -5px;
	font-size: 15px;
}