* {
  margin: 0;
  padding: 0; }

body {
  background: url("images/footer.jpg"); }

#page-wrap {
  width: 1005px;
  margin: auto;
  background: white; }
  #page-wrap .menu {
    height: 40px;
    line-height: 40px; }
    #page-wrap .menu ul {
      list-style-type: none; }
      #page-wrap .menu ul li {
        float: left;
        width: 150px;
        text-align: center; }
        #page-wrap .menu ul li:hover {
          background: #ccc; }
        #page-wrap .menu ul li a {
          text-decoration: none;
          color: black;
          font-weight: 600;
          font-family: "Times New Roman", Georgia, Serif; }
  #page-wrap .content {
    margin-top: 15px;
    background: url("images/background.jpg");
    float: left; }
    #page-wrap .content .main-content {
      float: left; }
      #page-wrap .content .main-content .main-content-gift {
        width: 502px;
        float: left; }
        #page-wrap .content .main-content .main-content-gift ul {
          list-style-type: none; }
          #page-wrap .content .main-content .main-content-gift ul li {
            float: left;
            margin: 0 20px 50px 20px;
            width: 122px;
            height: 63px; }
            #page-wrap .content .main-content .main-content-gift ul li a {
              text-decoration: none;
              color: gray;
              font-weight: 600;
              font-size: 12px; }
              #page-wrap .content .main-content .main-content-gift ul li a img {
                width: 100%;
                padding: 2px;
                border: 1px solid #ccc; }
      #page-wrap .content .main-content .main-content-list {
        float: left;
        padding: 10px 10px 15px 10px;
        width: 334px; }
        #page-wrap .content .main-content .main-content-list ul {
          list-style-type: none; }
          #page-wrap .content .main-content .main-content-list ul li {
            border-bottom: 1px dashed gray;
            padding: 8px 0;
            font-size: 12px; }
            #page-wrap .content .main-content .main-content-list ul li a {
              color: gray; }
            #page-wrap .content .main-content .main-content-list ul li span {
              margin-right: 5px;
              color: gold; }
              #page-wrap .content .main-content .main-content-list ul li span.date-time-now {
                color: gray;
                margin-left: 10px; }
      #page-wrap .content .main-content .main-content-images {
        float: left;
        width: 168px; }
  #page-wrap .footer {
    background: url("images/footer_img.jpg");
    height: 50px;
    margin-top: 15px;
    font-size: 12px;
    padding: 15px 20px; }
    #page-wrap .footer p {
      margin: 0; }
    #page-wrap .footer .footer1 {
      width: 364px;
      float: left; }
    #page-wrap .footer .footer2 {
      width: 210px;
      float: left; }
    #page-wrap .footer .footer3 {
      width: 195px;
      float: left; }
    #page-wrap .footer .footer4 {
      width: 195px;
      float: right; }

/*# sourceMappingURL=style.css.map */
