/*   
Theme Name: thietbidiendongduong
Theme URI: http://thietbidiendongduong.com
Description: 
Author: nguyen van quang
Author URI: http://vicoders.com
Version: 4.4
*/

* {
    margin: 0;
    padding: 0;
}

body {
    background: url("images/background.jpg");
}

#header {
    margin-top: 7px;
}

.slider {
    padding-bottom: 15px;
    background: url('images/bannerbj.jpg');
}

#page-wrap {
    width: 1005px;
    margin: auto;
    background: white;
}

#page-wrap .menu {
    line-height: 15px;
    clear: left;
}

#page-wrap .menu ul {
    list-style-type: none;
}

#page-wrap .menu ul li {
    line-height: 35px;
    margin-left: 11px;
    float: left;
    width: 150px;
    text-align: center;
}

#page-wrap .menu ul li:hover {
    background: #ccc;
}

#page-wrap .menu ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-family: ARIAL;
}

#page-wrap .content {
    background: url("images/background.jpg");
    float: left;
}

#page-wrap .content .main-content {
    position: relative;
    /*      float: left; */
}

#page-wrap .content .main-content .main-content-gift {
    width: 502px;
    float: left;
    background: url('images/bong.jpg') repeat-x;
}

#page-wrap .content .main-content .main-content-gift ul {
    list-style-type: none;
    margin-bottom: 5px;
}

#page-wrap .content .main-content .main-content-gift ul li {
    float: left;
    width: 137px;
    margin-left: 15px;
    overflow: hidden;
    margin-top: -9px;
    text-align: center;
}

#page-wrap .content .main-content .main-content-gift ul li a {
    font-size: 10px;
    text-decoration: none;
    color: gray;
    font-weight: 700;
    text-align: center;
}

#page-wrap .content .main-content .main-content-gift ul li img {
    width: 120px;
    height: 69px;
    border: 1px solid #ccc;
    padding: 1px;
}

#page-wrap .content .main-content .main-content-list {
    float: left;
    padding: -1px 10px 15px 10px;
    padding-top: 15px;
    width: 334px;
    background: url('images/bong_bg.jpg') repeat-x;
    padding-bottom: 23px;
}

#page-wrap .content .main-content .main-content-list ul {
    list-style-type: none;
}

#page-wrap .content .main-content .main-content-list ul li {
    border-bottom: 1px dashed gray;
    font-size: 12px;
    padding: 4px 0;
    margin-bottom: 8px;
    overflow: hidden;
    height: 24px;
}

#page-wrap .content .main-content .main-content-list ul li a {
    color: gray;
}

#page-wrap .content .main-content .main-content-list ul li span {
    margin-right: 5px;
    color: gold;
}

#page-wrap .content .main-content .main-content-list ul li span.date-time-now {
    color: gray;
    margin-left: 10px;
}

#page-wrap .content .main-content .main-content-images {
    float: left;
    width: 168px;
}

#page-wrap .footer {
    background: url("images/footer_img.jpg");
    height: 50px;
    font-size: 12px;
    padding: 15px 20px;
}

#page-wrap .footer p {
    margin: 0;
}

#page-wrap .footer .footer1 {
    width: 384px;
    float: left;
    padding-right: 10px;
}

#page-wrap .footer .footer2 {
    width: 240px;
    float: left;
    padding-right: 10px;
}

#page-wrap .footer .footer3 {
    width: 185px;
    float: left;
    padding-right: 10px;
}

#page-wrap .footer .footer4 {
    width: 155px;
    float: right;
    padding-left: 10px;
}

.content-view {
    background: url("images/view/background-menu.jpg") no-repeat;
    float: left;
}

.content-view h3 {
    color: green;
    font-size: 15px;
    font-weight: 600;
}

.content-view .content-view-menu {
    float: left;
    width: 255px;
    padding: 20px;
}

.content-view .content-view-menu h3 {
    margin: 0 0 15px 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}

.content-view .content-view-menu ul {
    list-style-type: none;
}

.content-view .content-view-menu ul li {
    background: url("images/view/first-bg-01.gif") repeat-y;
    border-bottom: 1px solid white;
    line-height: 31px;
    overflow: hidden;
    height: 32px;
    width: 200px;
}

.content-view .content-view-menu ul li:hover {
    background-position: 0 32px;
}

.content-view .content-view-menu ul li:hover a {
    color: #fff;
}

.content-view .content-view-menu ul li a {
    padding-left: 25px;
    line-height: 32px;
    color: gray;
    font-size: 12px;
    text-decoration: none;
}

.content-view .content-view-menu .search_view img {
    width: 116.6%;
    margin-bottom: 15px;
}

.content-view .content-view-menu .search_view input {
    display: inline;
    float: left;
}

.content-view .content-view-menu .search_view input[type='text'] {
    width: 89px;
    margin-right: 5px;
}

.content-view .content-view-menu .search_view input[type='submit'] {
    background: url("images/view/btn-blue1-07.gif");
    border: none;
    width: 56px;
    height: 24px;
}

.content-view .content-view-menu .search_view p {
    display: inline;
    float: left;
    font-size: 12px;
    color: gray;
    margin: 5px 10px 0 0;
}

.content-view .content-view-content {
    float: left;
    width: 750px;
    padding-left: 20px;
}

.content-view .content-view-content h3 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.content-view .content-view-content ul {
    list-style-type: none;
}

.content-view .content-view-content p a {
    color: black;
}

.content-view .content-view-content ul li {
    width: 170px;
    float: left;
    margin: 0 10px 10px 0;
}

.content-view .content-view-content ul li h4 {
    height: 40px;
    overflow: hidden;
}

.content-view .content-view-content ul li a img {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    padding: 2px;
    height: 133px;
}

#myCarousel {
    margin-top: 51px;
}

.content-view-content li {
    margin-bottom: 30px;
}

.content-view-content li h4 a {
    font-size: 12px;
    color: gray;
    text-decoration: none;
    font-weight: 600;
}

#main-content-page a {
    color: black;
    text-decoration: none;
}

#main-content-page p a img {
    /* width: 100%;
  height: 100%;*/
}

#main-content-page {
    width: 749px;
    float: left;
    padding: 0 30px 30px 30px;
    margin-bottom: 20px;
}

#main-content-page h3 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 15px;
}


/*# sourceMappingURL=style.css.map */

#single_content .single_content_left {
    width: 250px;
    float: left;
}

#single_content .single_content_left img {
    width: 100%;
    height: 100%;
}

#single_content .single_content_right {
    width: 439px;
    float: left;
    padding-left: 30px;
}

.post-categories li {
    float: left;
    list-style: none;
    margin-right: 5px;
}

.post-categories li a {
    color: green;
}

#information_product .information_product_tt {
    border-bottom: 1px solid black;
    float: left;
    width: 552px;
    height: 48px;
    margin-bottom: 30px;
}

#information_product h3 {
    background: url('images/view/infomation.jpg') repeat-x;
    color: white;
    width: 137px;
    font-size: 13px;
    text-align: center;
    line-height: 27px;
    border-bottom: none;
    float: left;
}

#information_product {
    margin-top: 100px;
}

#information_product_single {
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}

#list_information_product_single {
    padding-bottom: 30px;
}

#list_information_product_single ul {
    list-style-type: none;
}

#list_information_product_single h4 {
    font-size: 13px;
    font-weight: 600;
}

#list_information_product_single ul li {
    width: 157px;
    height: 123px;
    float: left;
    margin-right: 15px;
}

#list_information_product_single ul li p {
    color: #0F71A5;
    font-size: 12px;
    font-weight: 600;
    margin-top: 5px;
}

#list_information_product_single ul li img {
    width: 100%;
    height: 100%;
}

.rounded {
    font-size: 12px;
    margin-bottom: 0;
}

.footer1,
.footer2,
.footer3,
.footer4 {
    margin-top: -20px;
    padding-bottom: 20px;
}

.main-content-gift_li_a {
    height: 19px;
    display: block;
    overflow: hidden;
    margin-bottom: 17px;
    padding-top: 5px;
}

#page-giaiphap {
    width: 749px;
    padding: 0 20px 20px 20px;
}

#page-giaiphap h3 {
    border-bottom: 1px solid #ccc;
    margin-top: 20px;
    padding-bottom: 15px;
}

#page-giaiphap .main-content .main-content-list p a img {
    display: block;
    max-width: 100%;
    height: auto;
}

#menu-menu-page_giaiphap li {
    padding: 10px 0;
}

#menu-menu-page_giaiphap li a {
    background: url('images/icon-09.gif') no-repeat;
    padding-left: 15px;
}

.single_content_right p {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

#page-contact {
    padding: 30px;
}

.language_home {
    float: right;
    line-height: 40px;
}

.logo_home {
    float: left;
    margin-left: 30px;
}

.language_home ul li {
    float: left;
    list-style-type: none;
    margin-right: 10px;
}

.search_product_title {
    font-size: 13px;
    font-weight: 700;
    line-height: 40px;
    color: green;
}

.Category_product_home_title {
    background: url('images/product_list.png');
    height: 41px;
    overflow: hidden;
    line-height: 41px;
}

.Category_product_home_title_left {
    float: left;
    width: 515px;
    padding-left: 20px;
    color: green;
}

.Category_product_home_title_right {
    float: left;
    color: green;
}

.Category_product_home_link_page_news {
    float: right;
    color: gray;
    margin-right: 26px;
    font-size: 10px;
}

.Category_product_home_link_page_news a {
    color: gray;
    font-size: 10px;
}

.Category_product_home_link_page_news a:hover {
    text-decoration: inherit;
}

.Category_product_home_link_page_news a:active {
    text-decoration: inherit;
    border-radius: 3px;
    border: 1px solid #87D3FF;
    border-top: 2px solid #87D3FF;
    border-bottom: 2px solid #87D3FF;
    padding: 3px;
    margin-right: -4px;
}

#menu-menu-page_giaiphap_english li a {
    background: url('images/icon-09.gif') no-repeat;
    padding-left: 15px;
}






/*Single Post*/

.single_content_left>.zoomWrapper>img {
    position: inherit !important;
}

.single_content_left .zoomWrapper {
    width: 250px !important;
    height: auto !important;
}

.single_content_left .zoomWrapper img {
    width: 250px !important;
    height: auto !important;
}

.single_content_left .zoomWrapper img:nth-child(2) {
    display: none;
}


#gallery_01 a {
    color: rgba(35, 82, 124, 0);
    width: 33.3333%;
    float: left;
    display: block;
    margin-top: 5px;
    text-align: center;
}

#gallery_01 img {
    width: 95% !important;
    height: auto !important;
    /*margin-top: 5px;*/
}


.jssora03l,
.jssora03r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 100px !important;
    height: 120px !important;
    cursor: pointer;
    background: url("images/arrow-left.png");
    overflow: hidden;
    top: 16px !important;
}

.jssora03r {
    background: url("images/arrow-right.png");
    /*margin-right: -40px;*/
}

.jssora03l {
    margin-left: -40px;
}




#search_post_if_category_desktop ul li h4 {
    margin-top: 0;
}

* {
    font-family: ARIAL;
}

#information_product_single_2 {
    width: 710px;
    float: left;
    padding: 0 15px 15px 30px;
    background: white;
}

#information_product_single_2 img {
    max-width: 100%;
}

#page-giaiphap img {
    max-width: 100%;
}

#page-wrap #main-content-page img {
    max-width: 100%;
}

.list-menu-content-view #main-content-page .w3eden {
    float: left;
    margin-bottom: 15px;
}

.value_cat_home_parent {
    padding-top: 3px;
    height: 17px;
    margin-bottom: 21px;
    overflow: hidden;
}

.name_site_bloginfo {
    font-size: 21px;
    font-weight: bold;
}

.zoomLens {
    width: 250px !important;
}


/*config css content page*/

//==================================
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
    max-width: 100%;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
    max-width: 100%;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
    max-width: 100%;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}