#title-download{
    text-align: center;
    font-size: 18px;
    word-break: break-all;
    font-weight: 100;
    text-transform: capitalize;
    margin-bottom: 30px;

}
.download-attachments > .download-title{
	display: none;
}
.download-attachments > ul > li{
	margin-left: 15px;
}
.download-attachments > ul > li > span{
	margin-bottom: 2px;
	font-size: 14px;
}
.download-attachments ul li .attachment-link{
	display: block;
	background-color: #11572F;
	color: #fff;
	width: 170px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
}
.download-attachments ul li .attachment-link:hover{
	text-decoration: inherit;
}
.single_content_down{
	margin-left: 20px; 	
}