* {
	margin: 0;
	padding:0;
}
body {
	background: url('images/footer.jpg');
}
#page-wrap {
	width: 1005px;
	margin: auto;
	background:white;
	.header {

	}
	.menu {
		height:40px;
		line-height: 40px;
		ul {
			list-style-type: none;
			li {
				float:left;
				width:150px;
				text-align: center;
				&:hover {
					background: #ccc;
				}
				a {
					text-decoration: none;
					color:black;
					font-weight: 600;
					font-family: "Times New Roman", Georgia, Serif;
				}
			}
		}
	}
	.content {
		margin-top:15px;
		background: url('images/background.jpg');
		float:left;
		.main-content {
			float:left;
			.main-content-gift {
				width:502px;
				float:left;
				ul {
					list-style-type: none;
					li {
						float:left;
						margin: 0 20px 50px 20px;
						width:122px;
						height: 63px;
						a {
							text-decoration: none;
							color: gray;
							font-weight: 600;
							font-size: 12px;
							img {
                               width: 100%;
                               padding:2px;
                               border: 1px solid #ccc;
							}
						}
					}
				}
			}
			.main-content-list {
				float:left;
				padding: 10px 10px 15px 10px;
				width: 334px;
				ul {
					list-style-type: none;
					li {
						border-bottom: 1px dashed gray;
						padding: 8px 0;
						font-size: 12px;
                        a {
                        	color: gray;
                        }
                        span {
                        	margin-right: 5px;
                        	color: gold;
                        	&.date-time-now {
                        		color: gray;
                        		margin-left: 10px;
                        	}
                        }
					}
				}
			}
			.main-content-images {
				float:left;
				width: 168px;
			}
		}
	}
	.footer {
		background: url('images/footer_img.jpg');
		height:50px;
		margin-top: 15px;
		font-size: 12px;
		padding: 15px 20px;
		p {
			margin: 0;
		}
		.footer1 {
			width: 364px;
			float:left;
		}
		.footer2 {
			width: 210px;
			float:left;
		}
		.footer3 {
			width: 195px;
			float:left;
		}
		.footer4 {
			width: 195px;
			float:right;
		}
	}
}